*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 2em 7em;
   background: #064E3B;
    color: #ECFDF5;
    overflow: hidden;
    
}
h1{
    font-size: 4em;
    margin-bottom: 2em;
}
span{
    color: #FDE68A ;
}
p{
    color: #ecfdf5a8;
    font-size: 1.3em;
    margin-bottom: 3em;
}
input{
    background-color: #064e3b17;
    border-radius: 1.2em;
    padding: 1em;
    outline: none;
    text-align: center;
    font-size: 1.8em;
    color: #ecfdf5c0;
}
input:placeholder-shown{
    font-weight: bolder;
    font-size: 2em;
}
#button{
    background-color: #FDE68A;
    width: fit-content;
    letter-spacing: 0.1em;
    padding: .5em;
    border-radius: 5px;
    color: #064E3B;
    font-weight: bold;
    font-size: 1.15em;
    margin-bottom: 3em;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
#button:hover{
    transform: scale(1.1);
}
.pass_input{
    border-top: 1px solid #ecfdf5a8;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5em;
    grid-row-gap: 5em;

}
@media (max-width:1000px) {
    body{
        overflow: auto;
    }}
